- var counts = {};
- var displayIdOffset = 0;
- var pixelmap = false;
- var typeCounts = {};
if elements.length
  each element in elements
    -
      var classes = highlighted[element.id] ? ['h-highlight-element'] : [];
      element = element.toJSON();
      var groupName = element['group'] ? element['group'] : defaultGroup;
      var type = element.type === 'polyline' ? (element.closed ? 'polygon' : 'line') : element.type;
      var displayId = ++displayIdOffset + displayIdStart;
      var label = ((element.label || {}).value || type);
      if (['point', 'polyline', 'rectangle', 'ellipse', 'circle'].includes(element.type)) {
        if (counts[groupName]) {
          counts[groupName]++;
        } else {
          counts[groupName] = 1;
        }
      } else {
        if (typeCounts[type] > 0) {
          typeCounts[type]++;
        } else {
          typeCounts[type] = 1;
        }
      }
      if (!(element.label || {}).value) {
        if (['point', 'polyline', 'rectangle', 'ellipse', 'circle'].includes(element.type)) {
          label = groupName + ' ' + label + ' ' + displayId;
        } else {
          if (typeCounts[type] > 1) {
            label = label + ' ' + displayId;
          }
        }
      }
      if (element.type === 'pixelmap') {
        pixelmap = true;
      }
    .h-element(data-id=element.id, class=classes)
      span.icon-cog.h-edit-element(title='Change style')
      span.h-element-label(title=label, display_id=displayId) #{label}
      span.icon-zoom-in.h-view-element(title='View annotation')
      span.icon-cancel.h-delete-element(title='Remove')
if pixelmap
  .h-group-count-option.pixelmap.hidden
if firstRender
  -
    var order = (Object.entries(counts)).sort((a, b) => {
      if (a[1] === b[1]) {
        if (a[0] > b[0]) {
          return 1;
        }
        return -1;
      }
      return b[1] - a[1];
    })
  - for (let group of order)
    .h-group-count-option(data-group=group[0], data-count=group[1])
      span.h-group-count-value #{group[1]} #{group[0]}
      span.icon-marquee.h-group-count-select(title="Select all elements in this group")
else
  - for (let group in counts)
    - updateCount(group, counts[group]);
