- var counts = {};
if elements.length
  each element in elements
    -
      var classes = highlighted[element.id] ? ['h-highlight-element'] : [];
      element = element.toJSON();
      var groupName = element['group'] ? element['group'] : 'default';
      if (['point', 'polyline', 'rectangle', 'ellipse', 'circle'].includes(element.type)) {
        if (counts[groupName]) {
          counts[groupName]++;
        } else {
          counts[groupName] = 1;
        }
      }
      var label = (element.label || {}).value || (element.type === 'polyline' ? (element.closed ? 'polygon' : 'line') : element.type);
    .h-element(data-id=element.id, class=classes)
      span.icon-cog.h-edit-element(title='Change style')
      span.h-element-label(title=label) #{label}
      span.icon-zoom-in.h-view-element(title='View annotation')
      span.icon-cancel.h-delete-element(title='Remove')
if firstRender
  - for (let group in counts)
    .h-group-count-option(data-group=group, data-count=counts[group]) #{counts[group]} #{group}
else
  - for (let group in counts)
    - updateCount(group, counts[group]);
